:root {
  font-family: Verdana, sans-serif;
}

* {
  transition: box-shadow 0.2s;
}

html, body {
  margin: 0;
  padding: 0;
}

html, .full {
  width: 100vw;
  height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0;
  outline: none;
  font: normal 1em Verdana, sans-serif;
  cursor: pointer;
}

body {
  background-color: #435;
}

input, textarea {
  appearance: none;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: #DDE;
  box-shadow: 0 0 2px 0 #000 inset;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  box-shadow: 0 0 5px 0 #112 inset;
}

input {
  padding: 2px 5px;
}

input[type="number"] {
  width: 4em;
  text-align: right;
}

input[type="text"] {
  width: 7em;
}

input[type="color"] {
  width: 0;
  height: 0;
  opacity: 0;
}

input[type="color"]::before {
  content: ".";
  color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-basis: 15px;
  transition: background-color 0.2s;
}

input[type="checkbox"]:not(:checked) {
  background-color: #F00;
  box-shadow: 0 0 5px 0 #000;
}

input[type="checkbox"]:checked {
  background-color: #0F0;
  box-shadow: 0 0 5px 0 #000 inset;
}

textarea {
  display: block;
  padding: 2px;
  resize: none;
}

.cin {
  width: 2em;
  height: 100%;
  position: relative;
  box-shadow: 0 0 5px 0 #000 inset;
  padding-left: 2em;
}

.cent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.cem {
  overflow: hidden;
}

.cem > * {
  max-width: 70%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cem > ::-webkit-scrollbar {
  display: none;
}

.dynv, .dynh {
  display: flex !important;
  flex-wrap: nowrap;
  align-items: stretch;
}

.dynr {
  flex-wrap: wrap;
}

.dynv > *, .dynh > * {
  box-sizing: border-box;
  flex: 0 0;
}

.dynv {
  flex-direction: column
}

.dynh {
  flex-direction: row;
}

.dynf {
  flex: 1 1;
}

.bane {
  background-color: #324;
  box-shadow: 0 0 10px 0 #000 inset;
  padding: 15px;
}

.eli > * {
  display: block;
  background-color: #556;
  box-shadow: 0 0 10px 0 #000;
  padding: 5px;
  transition: box-shadow 0.2s;
}

.eli > a:hover, .eli > a:focus, .eli > button:hover, .eli > button:focus, .ae:hover, .ae:focus {
  box-shadow: 0 0 10px 0 #FFF;
  outline: none;
  cursor: pointer;
}

.eli > :not(:first-child) {
  margin-top: 10px;
}

.skit > :not(:first-child) {
  margin-left: 10px;
}

.skat > :not(:first-child) {
  margin-top: 5px;
}

.trax {
  padding: 10px;
  background-color: #448;
  font-size: 1.2em;
  color: #FFF;
}

a.trax:hover, button.trax:hover {
  text-decoration: underline;
}

.stork {
  padding: 10px;
}

.stork > :not(:first-child) {
  margin-top: 10px;
}

.stork > * {
  background-color: #557;
}