@import "../style.css";

body > div {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

#lp {
  left: 0;
  min-width: 40vw;
}

#rp {
  right: 0;
  max-width: 60vw;
  background-color: #555;
  box-shadow: 0 0 20px 5px #000 inset;
}

#tes {
  overflow-y: auto;
}

#hig, #hig * {
  display: none;
}

#img:not(.hf) {
  height: 100%;
}

#img.hf {
  width: 100%;
}

#dlp {
  position: relative;
  padding: 0;
}

#fnamb {
  flex-basis: 20%;
}

#fnam {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  position: absolute;
  transition: width 0.2s;
}

#fnam:hover, #fnam:focus {
  width: 80%;
}

#dl {
  background: none;
  padding: 5px;
}